# Server Configuration
PORT=3000
NODE_ENV=production
JWT_SECRET_KEY=your-secret-key
KEY_SECRET=your-secret-key
# WhatsApp Configuration
# WHATSAPP_SESSION_NAME=default

# Add other environment variables as needed
